{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></script>
  {% if title %}
  <title>Zawadi - {{title}}</title>
  {% else %}
    <title> Zawadi </title>
  {% endif %}
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/proj.css' %}">
        
    {% endblock %}


</head>
<body style="background-color:rgb(6, 157, 168);">
        {% include "navbar.html" %}
    {% block content %}  {%endblock%}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
{% endblock %}
</body>